 <tr>
 <td>a</td>
    <td><%= @the_pin.description %></td>
    <td><%= link_to 'Show', pin %></td>
	<% if current_user == @the_pin.user %>
		<td><%= link_to 'Edit', edit_pin_path(@the_pin) %></td>
		<td><%= link_to 'Destroy', @the_pin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
  </tr>